---
import BaseLayout from '@/layouts/BaseLayout.astro';

export const prerender = true;

const page = Astro.props;

export const getStaticPaths = (() => {   
  const pages = [
      {
        slug: "r001",
        title: "Introduction to Buddhism",
        author: "Buddha",
        category: "Article",
        description: "A short introduction to Buddhism, written by Buddha!",
        datePosted: "2024-02-21",
        content: "This is the content of the article"
      },
  ];

  return pages.map(({ slug, title, author, category, description, datePosted, content }) => {
    return {
      params: { slug },
      props: { title, author, category, description, datePosted, content },
    };
  });
}) 
---
<BaseLayout
  title="Resource: Article"
  description="Introduction to Buddhism"
>
  <section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">
    <div class="flex max-w-[980px] flex-col items-start gap-2">
      <h1
        class="text-3xl font-extrabold leading-tight tracking-tighter md:text-4xl"
      >
        { page.title }
      </h1>
      <p class="text-md ">
        { page.category } | { page.author } | { page.datePosted }
      <p class="max-w-[700px] text-lg text-muted-foreground">
        { page.content }
      </p>
    </div>
  </section>
</BaseLayout>