---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Table from '@/components/resources/Table.astro'
import { Input } from "@/components/ui/input"
import { Button } from "@/components/ui/button"

---

<BaseLayout
  title="DC Rainbow Sangha"
  description="A Buddhism study group."
>
  <section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">
    <div class="flex max-w-[980px] flex-col items-start gap-2">
      <h1
        class="text-3xl font-extrabold leading-tight tracking-tighter md:text-4xl"
      >
        Welcome <br class="hidden sm:inline" />
        to the resources page.
      </h1>
      <div class="flex w-full max-w-lg items-center space-x-2">
        <Input type="text" placeholder="what are you looking for?" />
        <Button type="submit">Search</Button>
        <Button>Submit a new resource</Button>
      </div>
    </div>
  </section>
  <Table />
</BaseLayout>